body {
  margin: 0;
  height: 100vh;
  font-size: 1.2rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: row;
}

#field {
  flex: 3 1 auto;
  height: 1.5rem;
}

form #field,
form #add-btn {
  margin: 0.5rem 0.2rem;
}

button {
  color: white;
  border: none;
  background-color: rgb(105, 188, 252);
  border-radius: 0.35rem;
  cursor: pointer;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 0.3rem;
}

button:active {
  filter: brightness(0.9);
}

table {
  width: 100vw;
}

.done-task,
.done-title {
  color: #6f8ead;
}

.done-task {
  text-decoration: line-through;
}

.done-title {
  margin-right: 0;
}

.done-tasks {
  margin-right: 1rem;
}

.done-check {
  user-select: none;
  cursor: pointer;
}

.done-check:hover {
  filter: brightness(0.9);
}

.done-check:active {
  filter: brightness(0.8);
}
